@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

.form-container {
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-page {
    display: none;
}
#registration{
    width:90%;
    margin: auto;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
}
#registration>div>h1{
    text-align: center;
}

.form-page.active {
    display: block;
}

.form-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-page label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-page input[type="text"],
.form-page input[type="email"],
.form-page input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-page button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.logo-google{
    width: 40px;
  }
.social-media {
    display: flex;
    justify-content: center;
  }
  .oauth{
    margin-left: 10px;
    text-decoration:none;
    margin-top: 10px;
    color: blue;
  
  }
.social-media{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    width:80%;
    margin: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-top: 40px;
     
   }
.form-page button[type="button"] {
    background-color: #f57c00;
    margin: 10px;
}

.form-page button:hover {
    background-color: #45a049;
}
#signupRole{
    font-weight: bold;
}
#role{
    margin: 20px;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
}
@media (max-width: 450px) and (min-width: 300px){
    #registration{
        width:90%;
        margin: auto;
        display: grid;
        padding: 20px;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 576px) and (min-width: 450px){
    #registration{
        width:90%;
        margin: auto;
        display: grid;
        padding: 20px;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 772px) and (min-width:576px){
    #registration{
        width:90%;
        margin: auto;
        display: grid;
        padding: 20px;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 992px) and (min-width:771px){
    #registration{
        width:90%;
        margin: auto;
        display: grid;
        padding: 20px;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
    }
    #signupForm{
        width:100%
    }
}